body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #28a745; /* Verde */
    padding: 10px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #218838; /* Un tono más oscuro de verde */
}
